name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential libgtest-dev lcov

    - name: Build Google Test
      run: |
        cd /usr/src/googletest
        sudo cmake -S . -B build
        sudo cmake --build build
        sudo cp build/lib/lib*.a /usr/lib

    - name: Build project
      run: |
        g++ -fprofile-arcs -ftest-coverage -std=c++17 \
            -I/usr/include/gtest main.cpp -lgtest -lgtest_main -pthread -o prog

    - name: Run tests
      run: ./prog --run-tests

    - name: Generate coverage
      run: |
        lcov --capture --directory . --output-file coverage.info --ignore-errors mismatch
        lcov --remove coverage.info '/usr/*' --output-file coverage.info
        lcov --list coverage.info
