name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential libgtest-dev lcov

    - name: Build Google Test
      run: |
        cd /usr/src/googletest
        sudo cmake -S . -B build
        sudo cmake --build build
        sudo cp build/lib/lib*.a /usr/lib

    - name: Build project with coverage
      run: |
        g++ -fprofile-arcs -ftest-coverage -std=c++17 main.cpp \
            -I/usr/include/gtest -lgtest -lgtest_main -pthread -o prog

    - name: Run tests
      run: ./prog --run-tests

    - name: Generate coverage
      run: |
        # Генерация coverage
        lcov --capture --directory . --output-file coverage.info --ignore-errors mismatch
        # Убираем системные файлы
        lcov --remove coverage.info '/usr/*' --output-file coverage.info
        # Печатаем summary
        lcov --list coverage.info
        # Извлекаем процент покрытия
        PERCENT=$(lcov --list coverage.info | grep "lines" | awk '{print $2}' | sed 's/%//' | head -1)
        echo "COVERAGE=${PERCENT:-0}" >> $GITHUB_ENV

    - name: Create coverage badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_SECRET }}       # GitHub PAT с правом на Gist
        gistID: 56ceb89e202d8eb2b4d499bd8b387c46                # <-- вставьте свой Gist ID
        filename: coverage.json
        label: Coverage
        message: ${{ env.COVERAGE }}%
        color: green
        style: plastic
